<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://localhost:44397/WebForms_WSDLTest</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/WebForms_WSDLTest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>false</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DBCS" Order="1" Enabled="False">
          <Destination Path="Data Source=HASSAAN-PC228;Initial Catalog=MVCDemoProject;User ID=ZEDDev;Password=Hassan@1122" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=HASSAAN-PC228;Initial Catalog=MVCDemoProject;Integrated Security=True;User ID=ZEDDev;Password=Hassan@1122" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBCS_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=HASSAAN-PC228;Database=MVCDemoProject;User Id=ZEDDev;Password=Hassan@1122; Integrated Security=true; " MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DBCS-Web.config Connection String">
      <ParameterValue>Data Source=HASSAAN-PC228;Initial Catalog=MVCDemoProject;User ID=ZEDDev;Password=Hassan@1122</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>